**/.DS_Store
**/._.DS_Store
*.elc
*.log
*.mp3
*.mp4
*.ogg
*.swp
*.~undo-tree
*_flymake.el
*~
.*.lock
.DS_Store
.\#*
._.DS_Store
.bookmarks.el
.cache
.cask
.cvsignore
.depend
.emacs.desktop
.emacs.desktop.lock
.last-package-update-day
.lsp-session*
.orig
.svn
.unpacked
.wg-file.el
.yas-compiled-snippets.el
/.emacs.desktop
/.mc-lists.el
/.org-id-locations
/.session
/TODO
/ac-comphist.dat
/anything-c-adaptive-history
/auto-save-list
/newsticker
/session.*
/swank
/tramp
/url/cache
/var
CVS
GPATH
GRTAGS
GTAGS
TAGS
\#*
abbrev_defs
amx-items
annotations
annotations/
anaconda-mode/
blink-search.db
company-statistics-cache.el
cookies
custom-set-variables.el
desktop/
drafts/
eln-cache/
elpy/
elgrep-data.el
emms/
eshell/
games/
history
ido.last
inactive/
my-words/
network-security.data
nov-places
org-clock-save.el
org-roam.db
package-quickstart.el
places
projectile-bookmarks.eld
projectile.cache
pyim/
recentf
request/
semanticdb/
srecode-map.el
test/
test.el
transient/
tutorial/
abbrev_defs.el
smex-items
.achievements
debug.txt
test.txt
keyfreq.py
bookmarks
tmp.el
projects
