[submodule "lib/keyfreq"]
	path = lib/keyfreq
	url = git@github.com:suliveevil/keyfreq.git
[submodule "lib/org-auto-tangle"]
	path = lib/org-auto-tangle
	url = git@github.com:yilkalargaw/org-auto-tangle.git
[submodule "lib/pyim-greatdict"]
	path = lib/pyim-greatdict
	url = git@github.com:tumashu/pyim-greatdict.git
