[submodule "lib/keyfreq"]
	path = lib/keyfreq
	url = git@github.com:suliveevil/keyfreq.git
[submodule "lib/org-auto-tangle"]
	path = lib/org-auto-tangle
	url = git@github.com:yilkalargaw/org-auto-tangle.git
[submodule "lib/pyim-greatdict"]
	path = lib/pyim-greatdict
	url = git@github.com:tumashu/pyim-greatdict.git
[submodule "lib/pyim-tsinghua-dict"]
	path = lib/pyim-tsinghua-dict
	url = git@github.com:redguardtoo/pyim-tsinghua-dict.git
[submodule "lib/d2-mode"]
	path = lib/d2-mode
	url = git@github.com:andorsk/d2-mode.git
[submodule "lib/fuck"]
	path = lib/fuck
	url = git@github.com:suliveevil/fuck.el.git
