[submodule "lib/keyfreq"]
	path = lib/keyfreq
	url = git@github.com:suliveevil/keyfreq.git
[submodule "lib/org-auto-tangle"]
	path = lib/org-auto-tangle
	url = git@github.com:yilkalargaw/org-auto-tangle.git
[submodule "lib/pyim-greatdict"]
	path = lib/pyim-greatdict
	url = git@github.com:tumashu/pyim-greatdict.git
[submodule "lib/pyim-tsinghua-dict"]
	path = lib/pyim-tsinghua-dict
	url = git@github.com:redguardtoo/pyim-tsinghua-dict.git
[submodule "lib/d2-mode"]
	path = lib/d2-mode
	url = git@github.com:andorsk/d2-mode.git
[submodule "lib/elisp-demos"]
	path = lib/elisp-demos
	url = git@github.com:suliveevil/elisp-demos.git
[submodule "lib/org-similarity"]
	path = lib/org-similarity
	url = git@github.com:suliveevil/org-similarity.git
[submodule "lib/org-roam-similarity"]
	path = lib/org-roam-similarity
	url = git@github.com:Vidianos-Giannitsis/org-roam-similarity.git
[submodule "lib/modeline-char"]
	path = lib/modeline-char
	url = git@github.com:emacsmirror/modeline-char.git
[submodule "lib/lsp-bridge"]
	path = lib/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "lib/screenshot"]
	path = lib/screenshot
	url = git@github.com:tecosaur/screenshot.git
[submodule "lib/subed"]
	path = lib/subed
	url = git@github.com:sachac/subed.git
[submodule "lib/ts-fold"]
	path = lib/ts-fold
	url = git@github.com:emacs-tree-sitter/ts-fold.git
[submodule "lib/image-roll"]
	path = lib/image-roll
	url = git@github.com:dalanicolai/image-roll.el.git
[submodule "lib/org-mac-link"]
	path = lib/org-mac-link
	url = git@github.com:suliveevil/org-mac-link.git
[submodule "lib/nov-xwidget"]
	path = lib/nov-xwidget
	url = git@github.com:chenyanming/nov-xwidget.git
[submodule "lib/explain-pause-mode"]
	path = lib/explain-pause-mode
	url = https://github.com/lastquestion/explain-pause-mode
[submodule "lib/advance-words-count"]
	path = lib/advance-words-count
	url = git@github.com:LdBeth/advance-words-count.el.git
[submodule "lib/browser-hist"]
	path = lib/browser-hist
	url = git@github.com:agzam/browser-hist.el.git
[submodule "lib/diff-lisp"]
	path = lib/diff-lisp
	url = git@github.com:redguardtoo/diff-lisp.git
[submodule "lib/mode-minder"]
	path = lib/mode-minder
	url = git@github.com:jdtsmith/mode-minder.git
